page-reserva-create-search {

  ion-content{
    height: 100%;
    background-image: $fundo;
  }
  ion-list{
    height: 90%;
  }

  #div_main{
    width: 100%!important;
  }

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

  .icones{
    font-size: 40px;
  }

  .docente{
    height: 30%;
  }

  .secretario{
    height: 21%;
  }

  ion-select{
    width: 100%!important;
    max-width: 100%!important;
    text-align: right;
  }


  ion-card{
    border-radius: 10px!important;
  }

  .ionCardDocente{
    height: 30%!important;
  }

  .ionCardSecretario{
    height: 75%!important;
  }

  ion-card-content{
    height: 100%;
  }
  form{
    height: 100%;
  }

  .instrucao{
    text-align: center;
    font-weight: bold;
  }

  .btnReserva {
      width: 100%;
      background-color: #28a745;
  }

  .btnCancelar{
        width: 100%;
  }

  .botoes {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}


}
