<ion-content >
  <div class="centralizar">
    <img src="assets/imgs/uemLogo.png" class="redimensionar">
    <form [formGroup]="loginForm"  novalidate>
      <ion-list>
        <ion-card class="cardPadding">
          <ion-item>
            <ion-icon item-start name="contact"></ion-icon>
            <ion-input type="text" placeholder="Digite seu e-mail" formControlName="email" [(ngModel)]="email"></ion-input>

          </ion-item>
            <h6  *ngIf="errorEmail" class="error">{{messageEmail}}</h6>
          <ion-item>
            <ion-icon item-start name="key"></ion-icon>
            <ion-input type="password" placeholder="Senha" formControlName="senha" [(ngModel)]="senha"></ion-input>
          </ion-item>
          <h6  *ngIf="errorSenha" class="error">{{messageSenha}}</h6>
        </ion-card>
      </ion-list>
    </form>
    <button ion-button round class="btnLogin" (click)="login()">Login</button>
    <br />
    <button ion-button round class="btnLogin" (click)="entrarVisitante()">Entrar como visitante</button>
  </div>

</ion-content>
