<ion-content >
    <img src="assets/imgs/uem-modelo.png" class="redimensionar">
    <div class="formulario" >

        <ion-list>
        <form [formGroup]="loginForm"  novalidate>
          <ion-card class="cardPadding" >
            <ion-item style="position: initial!important;">
              <ion-icon item-start name="mail"></ion-icon>
              <ion-input type="email" placeholder="Digite seu e-mail" formControlName="email" [(ngModel)]="email"></ion-input>
            </ion-item>
              <h6  *ngIf="errorEmail" class="error">{{messageEmail}}</h6>
            <ion-item >
              <ion-icon item-start name="lock"></ion-icon>
              <ion-input [type]="senhaType" placeholder="Senha" formControlName="senha" [(ngModel)]="senha"></ion-input>
              <button ion-button  (click)="toggleSenha()"  icon-only clear item-end>
                <ion-icon name="eye" [color]="senhaShow == true ? 'secondary': 'dark'" ></ion-icon>
              </button>
            </ion-item>
            <h6  *ngIf="errorSenha" class="error">{{messageSenha}}</h6>
          </ion-card>
      </form>
          <ion-item class="check" no-lines>
          <ion-label>Mantenha-me conectado</ion-label>
          <ion-checkbox [(ngModel)]="keepConnected" (ionChange)="saveConnected($event)"></ion-checkbox>
        </ion-item>
        </ion-list>


      <ion-row justify-content-center>
        <button ion-button block class="btnLogin" (click)="login()" color="secondary">Login</button>
      </ion-row>
      <ion-row justify-content-center>
        <button ion-button block class="btnLogin" (click)="entrarVisitante()" color="primary">Entrar como visitante</button>
      </ion-row>
      <ion-row justify-content-center>
        <div class="esqueceuSenha" (click)="irParaAlterarSenha()">
          Esqueceu a senha?
        </div>
      </ion-row>
  </div>
</ion-content>
