<ion-header>
  <ion-toolbar color="secondary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservas Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row justify-content-center>
    <ion-col >
        <button ion-button round outline color="secondary" float-right>Etapa 1</button>
    </ion-col>
    <ion-col>
      <button ion-button round color="secondary">Etapa 2</button>
    </ion-col>
  </ion-row>
  <ion-card>
  <form [formGroup]="reservaForm"  novalidate>
    <ion-card-content>
    <ion-list>
      <ion-item [ngClass]="classe">
        <ion-icon item-start name="pricetag" class="icones"></ion-icon>
        <ion-label>Tipo de uso</ion-label>
        <ion-select [selectOptions] ="{
          subTitle: 'Selecione um tipo de uso',
           mode: 'ios'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.tipo_uso"
          formControlName="uso" (ionChange)="changeUso($event)" >
          <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'" >Prática</ion-option>
          <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'" >Teórica</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Mestrado</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Especialização</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Defesa</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Minicurso</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Reunião</ion-option>
        </ion-select>
      </ion-item>
        <hr />
      <ion-item [ngClass]="classe">
        <ion-icon item-start name="book" class="icones"></ion-icon>
        <ion-label>Disciplina</ion-label>
        <ion-select  [selectOptions] ="{
          subTitle: 'Selecione uma disciplina',
           mode: 'ios'}" okText="Selecionar" cancelText="Cancelar" formControlName="disciplina" [(ngModel)] = "disciplinaSelecionada"
          [disabled]="reserva.tipo_uso == undefined"
          >
          <ion-option *ngFor="let disciplina of disciplinas" [value]="disciplina">{{disciplina.codigo}}-{{disciplina.turma}}</ion-option>
        </ion-select>
      </ion-item>
        <hr />
      <ion-item [ngClass]="classe">
        <ion-icon item-start name="key" class="icones"></ion-icon>
        <ion-label>Sala</ion-label>
        <ion-select [selectOptions] ="{
          subTitle: 'Selecione uma sala',
           mode: 'ios'}" okText="Selecionar" cancelText="Cancelar" formControlName="sala" [(ngModel)] = "salaSelecionada"
           (ionChange)="changeSala($event)">
          <ion-option *ngFor="let sala of salas" [value]="sala">{{sala.numero}}</ion-option>
        </ion-select>
      </ion-item>
        <hr  *ngIf="login.privilegio == 'Secretário'"/>
      <ion-item *ngIf="login.privilegio == 'Secretário'" [ngClass]="classe">
        <ion-icon item-start name="list-box" class="icones"></ion-icon>
        <ion-label>Tipo de reserva</ion-label>
        <ion-select  [selectOptions] ="{
          subTitle: 'Selecione um tipo de reserva',
           mode: 'ios'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.tipo_reserva"
          formControlName="tipoReserva">
          <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'">Eventual</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Fixo</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </form>
  </ion-card>
  <ion-row class="botoes" justify-content-center>
    <ion-col col-3 justify-content-end>
      <button ion-button block class="btnCancelar" (click)="prevCreate()" color="danger">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-9>
      <button ion-button block class="btnReserva" (click)="reservaCreate()" >Reservar</button>
    </ion-col>
  </ion-row>
</ion-content>
