page-create-segment {

  ion-content{
    background-image: $fundo;
  }

  /*ion-list{
    height: 90%;
  }*/

  .icones{
    font-size: 40px;
  }

  ion-item{
    //height: 30%;
    width: 100%!important;
    background-color: transparent !important;
  }


  ion-card{
    border-radius: 10px!important;
    //height: 75%;
    opacity: 0.9;
  }

  .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

#div_main{
  width: 100%!important;
}

  ion-select{
    width: 100%!important;
    max-width: 100%!important;
    text-align: right;
  }
  ion-card-content{
    height: 100%;
  }

  form{
    height: 100%;
  }


  //BOTÕES
  .btnReserva {
      width: 100%;
      background-color: #28a745;
  }

  .btnCancelar{
        width: 100%;
  }

  .botoes {
    position: fixed;
    left: 0;
    bottom: 5px;
    right: 0;
}

}
