<ion-header>
  <ion-toolbar color="secondary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h5>SALAS: Reservar</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
  <ion-segment [(ngModel)]="etapas" color="secondary" (ionChange)="segmentChanged(etapas)">
    <ion-segment-button value="etp1" disabled="true" hidden>
      Etapa 1
    </ion-segment-button>
    <ion-segment-button value="etp2" disabled="true" hidden>
      Etapa 2
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="etapas">
  <div *ngSwitchCase="'etp1'">
    <ion-card>
      <ion-card-content>
      <ion-list>
        <ion-item *ngIf="login.privilegio == 'Secretário'">
          <ion-icon item-start name="person" class="icones"></ion-icon>
          <ion-select  [selectOptions] ="{
            subTitle: 'Selecione um solicitante',
             mode: 'md'}"
             okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "usuarioSelecionado"
             (ionChange)="usuarioChange(usuarioSelecionado)" placeholder="Solicitante"
             >
              <ion-option *ngFor="let usuario of usuarios" [value]="usuario">
                {{usuario.nome}}
              </ion-option>
          </ion-select>
        </ion-item>
        <hr *ngIf="login.privilegio == 'Secretário'"/>
        <ion-item (click)="openCalendar()" >
          <ion-icon item-start name="calendar" class="icones"></ion-icon>
          <ion-label text-left col-3 >Data</ion-label>
          <ion-label  text-right >{{showDate}}</ion-label>
          <ion-icon item-end name="md-arrow-dropdown"></ion-icon>
        </ion-item>
        <hr />
        <ion-item>
          <ion-icon item-start name="clock" class="icones"></ion-icon>
          <ion-select  [selectOptions] ="{
            title: ' ',
            subTitle: 'Selecione um periodo',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.periodo"
             width="40%" (ionChange)="periodoChange($event)"
             placeholder="Período">
            <ion-option value="1">7:45-9:25</ion-option>
            <ion-option value="2">9:40-12:00</ion-option>
            <ion-option value="3">13:30-15:10</ion-option>
            <ion-option value="4">15:30-18:00</ion-option>
            <ion-option value="5">19:30-21:10</ion-option>
            <ion-option value="6">21:20-23:00</ion-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon item-start name="key" class="icones"></ion-icon>
          <ion-select [selectOptions] ="{
            subTitle: 'Selecione uma sala',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "salaSelecionada"
             (ionChange)="changeSala($event)" [disabled]="(hoje == dataSelecionada && reserva.periodo <= periodoCorrente) || reserva.periodo == undefined"
             placeholder="Sala">
            <ion-option *ngFor="let sala of salas" [value]="sala">{{sala.numero}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
      <ion-row class="botoes" justify-content-center>
        <ion-col col-3 justify-content-end>
          <button ion-button block class="btnCancelar" (click)="reservaCanceled()" color="danger">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9>
          <button ion-button block class="btnReserva" (click)="avancarCreate()" >Continuar</button>
        </ion-col>
      </ion-row>
    </div>



  <div *ngSwitchCase="'etp2'">

    <ion-card>
      <ion-card-content>
      <ion-list>
        <ion-item [ngClass]="classe" *ngIf="login.privilegio == 'Secretário'">
          <ion-icon item-start name="person" class="icones"></ion-icon>
          <ion-select  [selectOptions] ="{
            subTitle: 'Selecione um solicitante',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "usuarioSelecionado"
             (ionChange)="usuarioChange(usuarioSelecionado)" placeholder="Solicitante">
            <ion-option *ngFor="let usuario of usuarios" [value]="usuario">{{usuario.nome}}</ion-option>
          </ion-select>
        </ion-item>
        <hr *ngIf="login.privilegio == 'Secretário'"/>
        <ion-item [ngClass]="classe">
          <ion-icon item-start name="pricetag" class="icones"></ion-icon>
          <ion-select [selectOptions] ="{
            subTitle: 'Selecione um tipo de uso',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.tipo_uso"
             (ionChange)="changeUso($event)" placeholder="Tipo de uso">
            <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'" >Prática</ion-option>
            <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'" >Teórica</ion-option>
            <ion-option *ngIf="login.privilegio == 'Secretário'">Mestrado</ion-option>
            <ion-option *ngIf="login.privilegio == 'Secretário'">Especialização</ion-option>
            <ion-option *ngIf="login.privilegio == 'Secretário'">Defesa</ion-option>
            <ion-option *ngIf="login.privilegio == 'Secretário'">Minicurso</ion-option>
            <ion-option *ngIf="login.privilegio == 'Secretário'">Reunião</ion-option>
          </ion-select>
        </ion-item>
          <hr />
        <ion-item [ngClass]="classe">
          <ion-icon item-start name="book" class="icones"></ion-icon>
          <ion-select  [selectOptions] ="{
            subTitle: 'Selecione uma disciplina',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "disciplinaSelecionada"
            [disabled]="reserva.tipo_uso == undefined || (reserva.tipo_uso != 'Prática' && reserva.tipo_uso != 'Teórica')"
            placeholder="Disciplina">
            <ion-option *ngFor="let disciplina of disciplinas" [value]="disciplina">
              {{disciplina.codigo}}-{{disciplina.turma}}
            </ion-option>
          </ion-select>
        </ion-item>
          <hr  *ngIf="login.privilegio == 'Secretário'"/>
        <ion-item *ngIf="login.privilegio == 'Secretário'" [ngClass]="classe">
          <ion-icon item-start name="list-box" class="icones"></ion-icon>
          <ion-select  [selectOptions] ="{
            subTitle: 'Selecione um tipo de reserva',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.tipo_reserva"
            placeholder="Tipo de reserva">
            <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'">Eventual</ion-option>
            <ion-option *ngIf="login.privilegio == 'Secretário'">Fixo</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
    </ion-card>
    <ion-row class="botoes" justify-content-center>
      <ion-col col-3 justify-content-end>
        <button ion-button block class="btnCancelar" (click)="prevCreate()" color="danger">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-9>
        <button ion-button block class="btnReserva" (click)="reservaCreate()" >Reservar</button>
      </ion-col>
    </ion-row>

  </div>
</div>
</ion-content>
