page-create-segment {

  ion-content{
    background-image: $fundo;
    display: flex;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  .icones{
    font-size: 35px;
  }

  ion-item{
    width: 100%!important;
    background-color: transparent !important;
    flex-grow: 0;
    max-height: 40px;
  }


  ion-card{
    border-radius: 10px!important;
    box-shadow: 0 0 25px rgba(0,0,0,.04)!important;
    opacity: 0.9;
    flex-grow: 0;
  }

  ion-card-content{
    //height: calc(50% - 54px)!important;
    flex-grow: 0;
  }


  #div_main{
    display: flex;
    width: 100%!important;
    height: 100%;
  }

  #div_etp1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 100%;
  }

  #div_etp2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 100%;
  }

  ion-select {
    flex-grow: 0;
    width: 100%!important;
    max-width: 100%!important;
    text-align: right;
  }




  //BOTÕES
  .btnReserva {
      width: 100%;
      background-color: #28a745;
  }

  .btnCancelar{
        width: 100%;
  }

  .botoes {
    flex-grow: 0;
    left: 0;
    bottom: 5px;
    right: 0;
  }

  .transp{
      background-color: transparent !important;
  }


}
