page-reserva-search {
  ion-content {
    //overflow: hidden;
    background-image: $fundo;
    display: flex;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04) !important;
    flex-grow: 0;
    min-height: 100px;
  }

  ion-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  ion-grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 350px;
  }

  ion-row {
    display: flex;
    flex-grow: 1;
    width: 100%;
    //min-height: 60px;
    //justify-content: center;
    //align-items: center;
  }

  ion-col {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
  }

  .texto {
    font-size: 15px;
    text-align: left;
    //display: flex!important;
    //overflow-x: scroll;
    //overflow-y: hidden;
    //overflow-x: overlay;
    //overflow-y: hidden;
    text-overflow: ellipsis;
  }

  .verticalLine {
    border-right: 2px solid black !important;
  }

  .select-sala {
    visibility: hidden;
  }

  .disponivel {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    text-align: center !important;
  }
}
