page-reserva-search {

  ion-content{
    height: 100%;
    overflow: hidden;
  }

  ion-card{
    border-radius: 8px!important;
    height: 15%;
  }

  .item-list-key{
    margin-top: -2%;
    //margin-bottom: -19px;
  }
  .item-list-calendar{
    margin-top:-3%;
  }

  ion-grid{
    height: 80%;
    //height: 75vh;
  }
  .periodo{
    height: 16%;
  }

  .proximoDia{
    left: 1px;
  }

  .texto{
    font-size: 18px;
    display: flex!important;
     overflow-x: scroll;

  }
  .verticalLine {
    border-right: 2px solid black!important;
  }

  .disponivel{
    width: 100%;
    text-align: center!important;
  }

  .reserva{
    width: 100%;
    height: 100%;
    align-content: center!important;
    text-align: justify;
  }

  .sala{
    font-size: 25px;
  }

  .select-sala{
      visibility: hidden;
    }

}
