<ion-header>
  <ion-toolbar color="secondary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h5>SALAS: Reservas </h5></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce>
  <ion-card>
    <ion-list>
      <ion-item class="item-list-key">
        <ion-icon item-start name="key" class="sala"></ion-icon>
        <ion-label>Sala</ion-label>
        <ion-select [selectOptions] ="{
          subTitle: 'Selecione uma sala',
           mode: 'ios'}" okText="Selecionar" [(ngModel)] = "salaSelecionada" (ionChange)="changeSala($event)">
          <ion-option *ngFor="let sala of salas" [value]="sala">{{sala.numero}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-row class="item-list-calendar">
        <ion-col col-2>
          <ion-item (click)="anteriorDia()">
            <ion-icon name="md-arrow-back" item-left></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col justify-content-center col-8>
        <ion-item (click)="openCalendar()">
          <ion-icon item-start name="calendar"></ion-icon>
          <ion-label>{{showDate}}</ion-label>
        </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item (click)="proximoDia()">
            <ion-icon name="md-arrow-forward" item-right>
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      </ion-list>
  </ion-card>
  <ion-grid >
    <ion-row class="periodo" style="background-color: #ADD8E6;">
      <ion-col class="texto verticalLine"  col-2>
        07:45<br />09:25
      </ion-col>
      <ion-col class="texto " col-10 text-nowrap>
        <span class="reserva" *ngIf="reservaPeriodo01.codigo_disciplina != undefined" (click)="openReserva(reservaPeriodo01)">{{reservaPeriodo01.codigo_disciplina}}-{{reservaPeriodo01.turma_disciplina}}-{{reservaPeriodo01.nome_disciplina}}<br />
        {{reservaPeriodo01.nome_usuario}}
      </span>
        <span class="reserva" *ngIf="reservaPeriodo01.codigo_disciplina == undefined && reservaPeriodo01.periodo != undefined"
          (click)="openReserva(reservaPeriodo01)">
            {{reservaPeriodo01.tipo_uso}}<br />
            {{reservaPeriodo01.nome_usuario}}
        </span>
        <span class="disponivel" *ngIf="reservaPeriodo01.periodo == undefined" >
           <button ion-button color="secondary" (click)="cadastrarReserva(1)">Reservar</button>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="periodo" >
      <ion-col class="texto verticalLine"  col-2>
        09:40<br />12:00
      </ion-col>
      <ion-col class="texto " col-10 text-nowrap>
        <span class="reserva" *ngIf="reservaPeriodo02.codigo_disciplina != undefined" (click)="openReserva(reservaPeriodo02)">
          {{reservaPeriodo02.codigo_disciplina}}-{{reservaPeriodo02.turma_disciplina}}-{{reservaPeriodo02.nome_disciplina}}<br />
          {{reservaPeriodo02.nome_usuario}}</span>
        <span class="reserva" *ngIf="reservaPeriodo02.codigo_disciplina == undefined && reservaPeriodo02.periodo != undefined"
          (click)="openReserva(reservaPeriodo02)">
            {{reservaPeriodo02.tipo_uso}}<br />
            {{reservaPeriodo02.nome_usuario}}
        </span>
        <span class="disponivel" *ngIf="reservaPeriodo02.periodo == undefined" >
           <button ion-button color="secondary" (click)="cadastrarReserva(2)">Reservar</button>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="periodo" style="background-color: #ADD8E6;">
      <ion-col class="texto verticalLine"  col-2>
        13:30<br />15:10
      </ion-col>
      <ion-col class="texto " col-10 text-nowrap>
        <span class="reserva" *ngIf="reservaPeriodo03.codigo_disciplina != undefined" (click)="openReserva(reservaPeriodo03)">{{reservaPeriodo03.codigo_disciplina}}-{{reservaPeriodo03.turma_disciplina}}-{{reservaPeriodo03.nome_disciplina}}<br />
        {{reservaPeriodo03.nome_usuario}}</span>
        <span class="reserva" *ngIf="reservaPeriodo03.codigo_disciplina == undefined && reservaPeriodo03.periodo != undefined"
          (click)="openReserva(reservaPeriodo03)">
            {{reservaPeriodo03.tipo_uso}}<br />
            {{reservaPeriodo03.nome_usuario}}
        </span>
        <span class="disponivel" *ngIf="reservaPeriodo03.periodo == undefined" >
           <button ion-button color="secondary" (click)="cadastrarReserva(3)">Reservar</button>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="periodo" >
      <ion-col class="texto verticalLine"  col-2>
        15:30<br />18:00
      </ion-col>
      <ion-col class="texto " col-10 text-nowrap>
        <span class="reserva" *ngIf="reservaPeriodo04.codigo_disciplina != undefined" (click)="openReserva(reservaPeriodo04)">{{reservaPeriodo04.codigo_disciplina}}-{{reservaPeriodo04.turma_disciplina}}-{{reservaPeriodo04.nome_disciplina}}<br />
        {{reservaPeriodo04.nome_usuario}}</span>
        <span class="reserva" *ngIf="reservaPeriodo04.codigo_disciplina == undefined && reservaPeriodo04.periodo != undefined"
          (click)="openReserva(reservaPeriodo04)">
            {{reservaPeriodo04.tipo_uso}}<br />
            {{reservaPeriodo04.nome_usuario}}
        </span>
        <span class="disponivel" *ngIf="reservaPeriodo04.periodo == undefined" >
           <button ion-button color="secondary" (click)="cadastrarReserva(4)">Reservar</button>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="periodo" style="background-color: #ADD8E6;">
      <ion-col class="texto verticalLine"  col-2>
        19:30<br />21:10
      </ion-col>
        <ion-col style="" class="texto " col-10 text-nowrap>
          <span class="reserva" *ngIf="reservaPeriodo05.codigo_disciplina != undefined" (click)="openReserva(reservaPeriodo05)">{{reservaPeriodo05.codigo_disciplina}}-{{reservaPeriodo05.turma_disciplina}}-{{reservaPeriodo05.nome_disciplina}}<br />
          {{reservaPeriodo05.nome_usuario}}</span>
          <span class="reserva" *ngIf="reservaPeriodo05.codigo_disciplina == undefined && reservaPeriodo05.periodo != undefined"
            (click)="openReserva(reservaPeriodo05)">
              {{reservaPeriodo05.tipo_uso}}<br />
              {{reservaPeriodo05.nome_usuario}}
          </span>
          <span class="disponivel" *ngIf="reservaPeriodo05.periodo == undefined" >
             <button ion-button color="secondary" (click)="cadastrarReserva(5)">Reservar</button>
          </span>
        </ion-col>
    </ion-row>
    <ion-row class="periodo" >
      <ion-col class="texto verticalLine"  col-2>
        21:20<br />23:00
      </ion-col>
      <ion-col class="texto " col-10 text-nowrap>
        <span class="reserva" *ngIf="reservaPeriodo06.codigo_disciplina != undefined" (click)="openReserva(reservaPeriodo06)">{{reservaPeriodo06.codigo_disciplina}}-{{reservaPeriodo06.turma_disciplina}}-{{reservaPeriodo06.nome_disciplina}}<br />
        {{reservaPeriodo06.nome_usuario}}</span>
        <span class="reserva" *ngIf="reservaPeriodo06.codigo_disciplina == undefined && reservaPeriodo06.periodo != undefined"
          (click)="openReserva(reservaPeriodo06)">
            {{reservaPeriodo06.tipo_uso}}<br />
            {{reservaPeriodo06.nome_usuario}}
        </span>
        <span class="disponivel" *ngIf="reservaPeriodo06.periodo == undefined" >
           <button ion-button color="secondary" (click)="cadastrarReserva(6)">Reservar</button>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
