<ion-content >
  <div class="centralizar">
    <img src="assets/imgs/uemLogo.png" class="redimensionar">

    <ion-list>
      <ion-card class="cardPadding">
        <ion-item>
          <ion-icon item-start name="contact"></ion-icon>
          <ion-input type="text" placeholder="Usuário" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon item-start name="key"></ion-icon>
          <ion-input type="password" placeholder="Senha" [(ngModel)]="senha"></ion-input>
        </ion-item>
      </ion-card>

      <ion-item class="check" no-lines>
        <ion-label>Mantenha-me conectado</ion-label>
        <ion-checkbox [(ngModel)]="keepConnected" (ionChange)="saveConnected($event)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <button ion-button round class="btnLogin" (click)="login()">Login</button>
    <br>
    <br>
    <button ion-button round class="btnLogin">Esqueceu sua senha?</button>

  </div>

</ion-content>
