page-reserva-create {

  ion-card{
    border-radius: 10px!important;
  }

  .instrucao{
    text-align: center;
    font-weight: bold;
  }

  .btnReserva {
      width: 99%;
      background-color: #28a745;
  }

  .btnCancelar{
        width: 99%;
  }

}
