<ion-header>
  <ion-navbar color="primary">
    <ion-title>Efetuar Reserva</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-card>
  <form [formGroup]="reservaForm"  novalidate>
    <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon item-start name="person"></ion-icon>
        <ion-label floating>Usuário</ion-label>
        <ion-input readonly="true" [(ngModel)]="login.nome" formControlName="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="calendar"></ion-icon>
        <ion-label>Data</ion-label>
        <ion-datetime
          [(ngModel)] = "reserva.data_reserva"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DDD MMM YYYY"
          monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
          dayShortNames="Dom, Seg, Ter, Qua, Qui, Sex, Sab"
          doneText="Selecionar"
          cancelText="Cancelar"
          formControlName="data"
          [min]="hoje"
          [max]="dataDocente">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="clock"></ion-icon>
        <ion-label>Período</ion-label>
        <ion-select  okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.periodo"
          formControlName="periodo">
          <ion-option >7:45-9:25</ion-option>
          <ion-option >9:40-12:00</ion-option>
          <ion-option >13:30-15:10</ion-option>
          <ion-option >15:30-18:00</ion-option>
          <ion-option >19:30-21:10</ion-option>
          <ion-option >21:20-23:00</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="pricetag"></ion-icon>
        <ion-label>Tipo de Uso</ion-label>
        <ion-select  okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.tipo_uso"
          formControlName="uso" (ionChange)="changeUso($event)">
          <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'" >Prática</ion-option>
          <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'" >Teórica</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Mestrado</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Especialização</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Defesa</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Minicurso</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Reunião</ion-option>
        </ion-select>
      </ion-item>
      <!--<ion-item>
        <ion-icon item-start name="home"></ion-icon>
        <ion-label>Departamento</ion-label>
        <ion-select  okText="Selecionar" cancelText="Cancelar" formControlName="departamento" [(ngModel)] = "departamentoSelecionado"
          (ionChange)="changeDepartamento($event)" required>
          <ion-option *ngFor="let departamento of departamentos" [value]="departamento">{{departamento.nome}}</ion-option>
        </ion-select>
      </ion-item>-->
      <ion-item>
        <ion-icon item-start name="book"></ion-icon>
        <ion-label>Disciplina</ion-label>
        <ion-select  okText="Selecionar" cancelText="Cancelar" formControlName="disciplina" [(ngModel)] = "reserva.id_disciplina"
          [disabled]="disciplinaDisabled">
          <ion-option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">{{disciplina.codigo}}-{{disciplina.turma}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="key"></ion-icon>
        <ion-label>Sala</ion-label>
        <ion-select  okText="Selecionar" cancelText="Cancelar" formControlName="sala" [(ngModel)] = "reserva.id_sala">
          <ion-option *ngFor="let sala of salas" [value]="sala.id">{{sala.numero}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="login.privilegio == 'Secretário'">
        <ion-icon item-start name="list-box"></ion-icon>
        <ion-label>Tipo de reserva</ion-label>
        <ion-select  okText="Selecionar" cancelText="Cancelar" [(ngModel)] = "reserva.tipo_reserva"
          formControlName="tipoReserva">
          <ion-option *ngIf="login.privilegio == 'Docente' || login.privilegio == 'Secretário'">Eventual</ion-option>
          <ion-option *ngIf="login.privilegio == 'Secretário'">Fixo</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </form>
  <hr />
    <button ion-button round class="btnReserva" (click)="reservaCreate()" >Reservar</button>
    <button ion-button round class="btnCancelar" (click)="reservaCanceled()">Cancelar</button>
  </ion-card>
</ion-content>
