<!-- Generated template for the CustomFabComponent component -->
<ion-fab right bottom #fab>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
    <button ion-fab (click)="myReserva(fab)">
          <ion-icon name="archive"></ion-icon>
          <div class="label">
            Minhas Reservas
          </div>
    </button>
      <button ion-fab (click)="addReserva(fab)">
        <ion-icon name="add"></ion-icon>
        <div class="label">
          Adicionar Reserva
        </div>
      </button>
    </ion-fab-list>
</ion-fab>
