<!-- Generated template for the CustomFabComponent component -->
<ion-fab right bottom #fab >
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
    <button ion-fab (click)="searchReserva(fab)" color="primary">
          <ion-icon name="search"></ion-icon>
          <div class="label">
            Consultar Reservas
          </div>
    </button>
      <button ion-fab (click)="addReserva(fab)" color="secondary">
        <ion-icon name="add"></ion-icon>
        <div class="label">
          Adicionar Reserva
        </div>
      </button>
    </ion-fab-list>
</ion-fab>
