page-home {

  ion-content{
    //background-color: color($colors, fundo)!important;
    background-image: $fundo;
  }

  .scroll-content {
    overflow: hidden;
  }

  ion-card{
    border-radius: 10px!important;
  }

  chip-reserva-home{
    width: 100%!important;
  }

  ion-item{
    height: 20%!important;
  }

    .resultReservas{
      width:100%;
      height: 85%;
      overflow-y: scroll;
    }

    .centralizarVerticalmente{
       display: flex!important;
       align-content: center!important;
       align-items: center!important;

    }

}
