<ion-menu [content]="content" menuPrincipal >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-item color="primary" no-lines>
        <ion-avatar item-start>
          <img src="assets/imgs/icon.png">
        </ion-avatar>
        <h1>Reserva de Sala</h1>
        Seja Bem Vindo!<br />
        <span class="msg_bemvindo" *ngIf="login != null && login.id != undefined">{{login.nome}}</span>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-footer no-shadow>
    	<ion-toolbar position="bottom">
    		<button ion-button full round menuClose  (click)="logout()">
          <ion-icon name="exit" style="margin-right: 4px;"></ion-icon>
            Sair
          </button>
    	</ion-toolbar>
    </ion-footer>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
