<ion-menu [content]="content" id="menuPrincipal" menuPrincipal>
  <!--<ion-header class="menuHeader">
    <ion-toolbar color="secondary">
      <ion-row color="secondary" no-lines>
          <ion-avatar item-start class="avatar">
            <img src="assets/imgs/profile2.png">
          </ion-avatar>
      </ion-row>
      <ion-row>
        <span class="msg_bemvindo" *ngIf="login != null && login.id != undefined">
          {{login.nome}} <br /> {{login.email}}
        </span>
      </ion-row>
    </ion-toolbar>
  </ion-header> -->
<ion-header color="secondary">
  <div class="menu-header" >
      <!--material-design-background-->
      <img class="user-avatar round" style="height:90px;max-width:100px;" [src]="chosenPicture || placeholder" onerror="this.src='assets/imgs/profile2.png'"
      />
      <p *ngIf="login != null && login.id != undefined" class="name">{{login.nome}}</p>
      <p *ngIf="login != null && login.id != undefined" class="e-mail">{{login.email}}</p>
    </div>
</ion-header>
  <ion-content class="menuConteudo">
    <ion-list  no-lines>
      <button class="transp" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
      <button class="transp" menuClose ion-item  (click)="logout()">
        <ion-icon name="exit" item-left></ion-icon>
          Sair
      </button>
    </ion-list>
    <!--<ion-footer no-shadow>
    	<ion-toolbar position="bottom">
    		<button ion-button full round menuClose  (click)="logout()" color="danger">
          <ion-icon name="exit" style="margin-right: 4px;"></ion-icon>
            Sair
          </button>
    	</ion-toolbar>
    </ion-footer> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
