// Material Design Sidemenu

#menuPrincipal {
  .menu-header {
    padding: 5px 15px;
    //background-image: url('../assets/imgs/bg-uem.jpg');
    //background-image: linear-gradient(35deg, #32db64, white);
    background-size: cover;
    background-color: color($colors, secondary);
    color: white;
    .departamento {
      font-weight: 500;
      margin-bottom: 3px;
    }
    .name {
      font-weight: 500;
      margin-bottom: 3px;
      margin-top: 0;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .user-avatar {
    max-width: 125px;
    height: 125px;
    padding: 0.5em;
    height: 12vh;
  }
  h3.label {
    color: black;
    font-weight: 400;
  }
  ion-icon {
    color: black;
  }
}

.msg_bemvindo {
  white-space: normal !important;
}

.scroll-content {
  padding-bottom: 0 !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.alert-ios .alert-radio-label {
  white-space: pre-line;
}

.alert-md .alert-radio-label {
  white-space: pre-line;
}

.alert-wp .alert-radio-label {
  white-space: pre-line;
}

.alertSolicitante {
  color: red !important;
  overflow-y: scroll !important;
}

ion-toolbar {
  height: 100%;
  width: 100%;
}

.avatar {
  position: relative;
  width: 40%;
  transform: translateX(60%);
}

.menuHeader {
  position: relative;
  height: 30%;
}

.menuConteudo {
  position: relative;
  //background-image: linear-gradient(120deg, #32db64, white);
  //background-image:  url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
  //background-image:  url('../assets/imgs/verde2.jpg');
  //background-repeat: repeat;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //background-size: cover;
  height: 100%;
}

.transp {
  background-color: transparent !important;
  //color: #fff;
}

.changeToast {
  .toast-wrapper {
    opacity: 0.9;
    border-radius: 5px !important;
    text-align: center;
    background: color($colors, secondary);
    width: 75%;
  }
}

.card-md {
  overflow: visible;
}
