
@import "../../node_modules/ionic2-auto-complete/auto-complete";

.msg_bemvindo{
  white-space: normal!important;
}

.scroll-content {padding-bottom: 0! important;}

ion-toolbar{
  height: 100%;
  width: 100%;
}

.avatar{
  position: relative;
  width: 50%;
  transform: translateX(50%);
}

.menuHeader{
  height: 30%;
}

.menuConteudo{
  position: relative;
}
