<ion-header >
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon item-start name="home"></ion-icon>
          <ion-label>Departamento</ion-label>
          <ion-select  okText="Selecionar" cancelText="Cancelar" (ionChange)="pesquisaMudado('dept', $event)" >
            <ion-option value=''>TODOS</ion-option>
            <ion-option >DIN</ion-option>
            <ion-option >DEE</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="pricetags"></ion-icon>
          <ion-label>Bloco</ion-label>
          <ion-select  okText="Selecionar" cancelText="Cancelar" (ionChange)="pesquisaMudado('bloco', $event)">
            <ion-option value=''>TODOS</ion-option>
            <ion-option >C56</ion-option>
            <ion-option >D67</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card>
  <hr />

        <ion-badge class="center">
          <h5 *ngIf="blocoSelecionado == '' && departamentoSelecionado ==''" >Últimas reservas realizadas</h5>
          <h5 *ngIf="blocoSelecionado != '' || departamentoSelecionado != ''" >Pesquisa filtrada</h5>
        </ion-badge>


  <hr />
  <ion-scroll #listaReservas  style="width:100%;height:80vh" scrollY="true">
    <ion-list>
      <ion-item-sliding *ngFor="let reserva of reservas">
        <ion-item>
          <ioncard-reserva [reserva]="reserva" ></ioncard-reserva>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-scroll>
</ion-content>
