<ion-header >
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon item-start name="book"></ion-icon>
          <ion-label>Disciplina</ion-label>
          <ion-select  okText="Selecionar" cancelText="Cancelar" (ionChange)="changeDisciplina($event)">
            <ion-option value="undefined">SELECIONE</ion-option>
            <ion-option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">{{disciplina.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card>
  <hr />
  <ion-row justify-content-center>
    <span *ngIf="disciplinaSelecionada == undefined"> Por favor, preencha os campos de pesquisa</span>
    <span *ngIf="reservasNaoEncontrada">
                Nenhuma reserva encontrada com esses parâmetros.
    </span>
  </ion-row>

  <ion-scroll #listaReservas  style="width:100%;height:80vh" scrollY="true"
      *ngIf="reservas != null && reservas.length != 0">
    <ion-list>
      <ion-item-sliding *ngFor="let reserva of reservas">
        <ion-item>
          <ioncard-reserva [reserva]="reserva" ></ioncard-reserva>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-scroll>
</ion-content>
