page-reserva-visitante-list {

  ion-card{
    border-radius: 10px!important;
  }

  ion-auto-complete {
    width: 100vw;
  }

  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}
