<ion-header >
  <ion-toolbar color="secondary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <h5>SALAS: Minhas Reservas</h5>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-card class="areaBusca">
      <ion-list>
        <ion-item>
          <ion-icon item-start name="options"></ion-icon>
          <ion-label>Status</ion-label>
          <ion-select  [selectOptions] ="{
            subTitle: 'Selecione um status',
             mode: 'md'}" okText="Selecionar" cancelText="Cancelar" [(ngModel)]="statusSelecionado"
          (ionChange)="statusMudado($event)">
            <ion-option value=0>PENDENTE</ion-option>
            <ion-option value=1>ACEITO</ion-option>
            <ion-option value=2>REJEITADO</ion-option>
            <ion-option value=3>CANCELADO</ion-option>
            <ion-option value=-1>TODOS</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card>
  <hr />
  <ion-row  justify-content-center style="height:100%!important;" *ngIf="reservasNaoEncontrada">
    <span *ngIf="reservasNaoEncontrada" class="centralizarVerticalmente">
                Nenhuma reserva encontrada.
    </span>
  </ion-row>

  <ion-scroll #listaReservas  class="resultReservas" scrollY="true">
    <ion-list>
      <ion-item-sliding *ngFor="let reserva of reservas" >
        <ion-item >
          <ioncard-reserva-my [reserva]="reserva"></ioncard-reserva-my>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-scroll>
    <custom-fab [login]="login" style="position:static;"></custom-fab>
</ion-content>
