<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minhas Reservas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon item-start name="options"></ion-icon>
          <ion-label>Status</ion-label>
          <ion-select  okText="Selecionar" cancelText="Cancelar" [(ngModel)]="statusSelecionado"
          (ionChange)="statusMudado($event)">
            <ion-option value=0>PENDENTE</ion-option>
            <ion-option value=1>ACEITO</ion-option>
            <ion-option value=2>REJEITADO</ion-option>
            <ion-option value=3>CANCELADO</ion-option>
            <ion-option value=-1>TODOS</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card>
  <hr />
  <ion-scroll #listaReservas  style="width:100%;height:100%" scrollY="true">
    <span *ngIf="reservasNaoEncontrada">
                Nenhuma reserva encontrada.
    </span>
    <ion-list>
      <ion-item-sliding *ngFor="let reserva of reservas">
        <ion-item>
          <ioncard-reserva-my [reserva]="reserva" ></ioncard-reserva-my>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-scroll>
  <custom-fab [login]="login" style="position:static;"></custom-fab>
</ion-content>
