
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajuda Usuários</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-card>
    <div *ngIf="login.privilegio == 'Docente'">
      <ion-card-header >
        Docente
      </ion-card-header>
      <ion-card-content>
        O Docente tem permissão de solicitação de reservas,
        consulta de reservas e cancelamento de reservas. O mesmo não pode fazer
        solicitações no sábado ou domingo.
      </ion-card-content>
  </div>
    <div *ngIf="login.privilegio == 'Secretário'">
      <ion-card-header>
        Secretário
      </ion-card-header>
      <ion-card-content>
        O Docente tem permissão de solicitação de reservas,
        consulta de reservas e cancelamento de reservas. O mesmo pode fazer
        solicitações no sábado ou domingo.
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
