page-ajuda-usuario {


  ion-content{
      background-image: $fundo;
  }

  ion-card{
    border-radius: 10px!important;
    box-shadow: 0 0 25px rgba(0,0,0,.04)!important;
    //border-style: ridge;
  }

  ion-card-header{
    font-weight: bold;
    font-size: 20px !important;
  }

}
