
        <ion-card class="border-card" (click)="openReserva($event, reserva)" >
                        <ion-grid>
                          <ion-row>
                            <ion-col col-9 text-left>
                                    <span class="titulo_sala">{{reserva.codigo_disciplina}}-{{reserva.turma_disciplina}}</span>
                                    <br />
                                    <span>{{reserva.nome_disciplina}}</span>
                            </ion-col>
                            <ion-col col-3 text-right>
                                    <span class="dept">{{reserva.nome_departamento}}</span>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12 text-left>
                                   {{reserva.data_reserva}}  {{reserva.periodo}}
                            </ion-col>
                          </ion-row>
                        </ion-grid>
        </ion-card>
