
        <ion-card class="border-card" (click)="openReserva($event, reserva)" >
                        <ion-grid>
                          <ion-row>
                            <ion-col col-9 text-left>
                                    <span class="titulo_sala">{{reserva.sala}} - {{reserva.bloco}}</span>
                                    <br />
                                    <span>{{reserva.disciplina}}</span>
                            </ion-col>
                            <ion-col col-3 text-right>
                                    <span class="dept">{{reserva.dept}}</span>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12 text-left>
                              <ion-badge  color="primary">
                                   {{reserva.data}}
                              </ion-badge>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
        </ion-card>
