ioncard-reserva {


  .aceito {
    background-color: #32db64; // black
  }
  .rejeitado{
    background-color: red;
  }
  .icon-sucess{
    color:green;
  }
  .icon-fail{
    color:red;
  }
  .text-negrito{
    font-weight: bold;

  }
  .titulo_sala{
    font-size: 20px!important;
    font-weight: bold;
  }
  .disciplina{

  }
  .dept{
    font-size: 20px!important;
    font-weight: bold;
  }

  .data{

  }


}
