<ion-header >
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservas</ion-title>
    <ion-buttons right>
      <button ion-button outline (click)="chamaLogin($event)" *ngIf="login.id === -1">Login</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-auto-complete #searchbar   [dataProvider]="complete" [options]="{ placeholder : 'Digite a sala... ', showCancelButton:'true' }"  (itemSelected)="itemSelecionadoPeloAutocomplete($event)" ></ion-auto-complete>

  <ion-scroll #listaReservas  style="width:100%;height:80vh" scrollY="true">
    <ion-list>
      <ion-item-sliding *ngFor="let reserva of reservas">
        <ion-item>
          <ioncard-reserva [reserva]="reserva" ></ioncard-reserva>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-scroll>
    <custom-fab style="position:static;"></custom-fab>
</ion-content>
