page-reserva-detail {
  ion-content {
    background-image: $fundo;
    display: flex;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-badge {
    white-space: normal !important;
  }

  ion-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04) !important;
  }

  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  ion-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  ion-card-header {
    text-align: center;
    font-size: 24px !important;
  }

  ion-row {
    flex-grow: 1;
  }

  .botoes {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
    height: 90px;
  }

  .botoes.button {
    height: 40px;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .text-negrito {
    font-weight: bold;
  }

  .text-details {
    font-weight: bold;
  }
}
