<ion-header>
  <ion-navbar color="secondary">
    <ion-title><h5>SALAS: Reservas Sala</h5></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Detalhes da Reserva
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col >
              <span class="text-details">
                Solicitante:
              </span>
                {{reserva.nome_usuario}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="reserva.codigo_disciplina != undefined">
            <ion-col >
              <span class="text-details">
                Disciplina:
              </span>
                {{reserva.codigo_disciplina}} - {{reserva.turma_disciplina}} <br />
                 {{reserva.nome_disciplina}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <span class="text-details">
                Sala:
              </span>
                {{reserva.numero_sala}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span class="text-details">
                  Departamento:
              </span>
                  {{reserva.nome_departamento}}
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <span class="text-details">
                  Tipo de uso:
              </span>
                  {{reserva.tipo_uso}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="login.privilegio == 'Secretário'">
            <ion-col>
              <span class="text-details">
                  Tipo de reserva:
              </span>
                  {{reserva.tipo_reserva}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span class="text-details">
                  Data reservada:
              </span>
                  {{reserva.data_reserva}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left>
              <span class="text-details">
                  Horário reservado:
              </span>
                  {{reserva.periodo}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="reserva.id_usuario == login.id && reserva.status == 1">
            <ion-col>
              <button ion-button block small color="danger" (click)="confirmarCancelarReserva(reserva)">CANCELAR RESERVA</button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
