page-reserva-detail {

  ion-badge{
    white-space: normal!important;
  }

  ion-card{
    border-radius: 10px!important;
  }

  ion-card-header{
    text-align: center;
  }

  .text-negrito{
    font-weight: bold;
  }

  .text-details{
    font-weight: bold;
    font-size: 15px;
  }

}
