ioncard-reserva-my {

  .aceito {
    background-color: #32db64; // black
  }
  .rejeitado{
    background-color: red;
  }
  .pendente{
    background-color: yellow;
  }

  .cancelado{
    background-color: orange;
  }

  .icon-sucess{
    color:green;
  }
  .icon-fail{
    color:red;
  }
  .text-negrito{
    font-weight: bold;

  }
  .titulo_sala{
    font-size: 20px!important;
    font-weight: bold;
  }
  .disciplina{

  }
  .dept{
    font-size: 20px!important;
    font-weight: bold;
  }

  .linha_status{
    width: 100%;
    border-radius: 5px;
    height: 1px!important;
  }
  .col_status{
    border-radius: 5px;
  }


}
