        <ion-card class="border-card"

         (click)="openReserva($event, reserva)" >
                        <ion-grid>
                          <ion-row>
                            <ion-col col-9 text-left>
                                    <span class="titulo_sala">{{reserva.sala}} - {{reserva.bloco}}</span><br />
                                    <span>{{reserva.disciplina}}</span>
                            </ion-col>
                            <ion-col col-3 text-right>
                                    <span class="dept">{{reserva.dept}}</span>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-6 text-left>
                                   {{reserva.data}}
                            </ion-col>
                            <ion-col col-6 text-right>
                                   {{reserva.status}}
                            </ion-col>
                          </ion-row>
                          <ion-row class="linha_status">
                                  <ion-col class="col_status" col-12 [ngClass]="{'rejeitado': reserva.status == 'REJEITADO',
                                                  'aceito': reserva.status == 'ACEITO',
                                                  'cancelado': reserva.status == 'CANCELADO',
                                                  'pendente': reserva.status == 'PENDENTE'}"
                                                  >

                                  </ion-col>

                          </ion-row>
                        </ion-grid>
        </ion-card>
